/* defaults */
body {
   background-color: #343536;
   color: blanchedalmond;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* sets image styling below nav bar */
.image {
    background-image: url("./carrara-white-marble.jpg");
    height: 300px;
    width: 100%;
    margin-bottom: 30px;
    background-position: center;
}

/* styling for Ugh Its Megan, --still needs to be moved to bottom right corder with smaller border-- */
.image p {
    color: blanchedalmond;
    padding: 20px;
    background-color: #0e0d0d;
}

/* --Megan's Portfolio still needs to touch the side of the window-- */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #343536;
    color: blanchedalmond;
}

/* placement of links in nav bar */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* styling for links in Nav Bar */
header nav ul li a {
    color: blanchedalmond;
    text-decoration: underline;
}

/* formatting for Megans Portfolio text */
header h1 {
    display: inline-block;
    font-size: 50px;
}

/* design for nav bar */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: blanchedalmond;
}

/* formatting for main section flexboxes */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;    
    margin-left: 100px;
}

/* makes About Me section easier to read */
#about-me {
    line-height: 1.5;
}

header h1 {
    padding: 10px 10px 10px 80px;
    background-color: #0e0d0d;
    margin: 0px;
}

/* gives h1 tags the line after the section title */
 #about-me h1, #work h1, #contact-me h1 {
    border-right: 5px solid #000000;
    padding: 20px;
    font-size: 50px;
}

/* layout of flexbox for each section */
#about-me, #work, #contact-me {
    display: flex;
    justify-content: space-evenly;
}

/* sets borders for each section */
.grid, .contact-me, .font {
    max-width: 60%;
    max-height: 40%;
}

/* grid formatting */
.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.grid-item1 {
    background-image: url(./main.jpeg);
    grid-row: 1;
    grid-column: 1/3;
    height: 300px;
    width: 1010px;
    border: 5px solid #0e0d0d;
}

.grid-item1 p {    
    background-color: #0e0d0d;
    color: blanchedalmond;}

.grid-item2 p {
    background-color: #0e0d0d;
    color: blanchedalmond;
}

.grid-item3 p {
    background-color: #0e0d0d;
    color: blanchedalmond;
}

.grid-item4 p {
    background-color: #0e0d0d;
    color: blanchedalmond;
} 

.grid-item5 p {
    background-color: #0e0d0d;
    color: blanchedalmond;
}

.grid-item2 {
    background-image: url(./1.jpeg);
    height: 100px;
    width: 490px;
    grid-row: 2;
    grid-column: 1;
    border: 5px solid #0e0d0d;
}

.grid-item3 {
    background-image: url(./2.jpeg);
    grid-row: 2;
    grid-column: 2;
    height: 100px;
    width: 490px;
    border: 5px solid #0e0d0d;
}

.grid-item4 {
    background-image: url(./3.jpeg);
    grid-row: 3;
    grid-column: 1;
    height: 100px;
    width: 490px;
    border: 5px solid #0e0d0d;
}

.grid-item5 {
    background-image: url(./4.jpeg);
    grid-row: 3;
    grid-column: 2;
    height: 100px;
    width: 490px;
    border: 5px solid #0e0d0d;
}

/* alters the top photo in grid */
.example {
    height: 800px;
    width: 800px;
}

/* formatting for links, --still need to center somehow-- */
.contact p {
    display: inline-block;
    padding: 10px;
}

/* styles the links in footer section */
.contact a {
    color: blanchedalmond;
    text-decoration: underline;
}