* {
    padding: 0px;
    margin: 0px;
}

/* defaults */
body {
   background-color: #e9e9e9;
   color: #323232;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #000000;
}

/* placement of links in nav bar */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* styling for links */
a {
    color: #ffffff;
}


/* design for nav bar */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
}

/* formatting for main section flexboxes */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;    
    margin-left: 100px;
}

/* makes About Me section easier to read */
#about-me {
    line-height: 1.5;
}

/* gives h1 tags the line after the section title */
 .contentHeader{
    border-right: 5px solid #829CD0;
    padding: 20px;
}

#ex1, #ex2, #ex3, #ex4, #ex5 {
    background-color: #829CD0;
}

.headers {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 0;
    margin: 20px;
    max-width: 15vw;
}

h1 {
    font-size: 50px;
}

/* layout of flexbox for each section */
#about-me, #work, #contact-me {
    display: flex;
    justify-content: space-around;
}

/* sets sizing for each section */
.grid, .contact-me, .font {
    max-width: 60%;
    max-height: 40%;
}

/* grid formatting */
.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.grid-item1 {
    background-image: url(./password.png);
    grid-row: 1;
    grid-column: 1/3;
    height: 300px;
    width: 1010px;
    border: 5px solid #829CD0;
}

.grid-item1 p {    
    background-color: #EBEBEB;
    color: #323232;}

.grid-item2 p {
    background-color: #EBEBEB;
    color: #323232;
}

.grid-item3 p {
    background-color: #EBEBEB;
    color: #323232;
}

.grid-item4 p {
    background-color: #EBEBEB;
    color: #323232;
} 

.grid-item5 p {
    background-color: #EBEBEB;
    color: #323232;
}

.grid-item2 {
    background-image: url(popcorn.jpeg);
    height: 200px;
    width: 490px;
    grid-row: 2;
    grid-column: 1;
    border: 5px solid #829CD0;
}

.grid-item3 {
    background-image: url(test.jpeg);
    grid-row: 2;
    grid-column: 2;
    height: 200px;
    width: 490px;
    border: 5px solid #829CD0;
}

.grid-item4 {
    background-image: url(./3.jpeg);
    grid-row: 3;
    grid-column: 1;
    height: 200px;
    width: 490px;
    border: 5px solid #829CD0;
}

.grid-item5 {
    background-image: url(./4.jpeg);
    grid-row: 3;
    grid-column: 2;
    height: 200px;
    width: 490px;
    border: 5px solid #829CD0;
}

/* formatting for links */
.contact p {
    display: inline-block;
    padding: 45px;
    color: #829CD0;
}

/* styles the links in footer section */
.contact a {
    color: #829CD0;
    text-decoration: underline;
}