body {
   background-color: #343536;
   color: blanchedalmond;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.image {
    background-image: url("./carrara-white-marble.jpg");
    height: 300px;
    width: 100%;
    margin-bottom: 30px;
    background-position: center;
}

/* Megan's Portfolio needs to be in a box */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #343536;
    color: blanchedalmond;
}



header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav ul li a {
    color: blanchedalmond;
}

header h1 {
    display: inline-block;
    font-size: 50px;
}


header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: blanchedalmond;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;    
    margin-left: 100px;
}

#about-me {
    display: flex;
    justify-content: space-evenly;
    line-height: 1.5;
}

#about-me h1 {
    border-right: 5px solid #000000;
    padding: 20px;
}

.font {
    max-width: 60%;
    max-height: 40%;
}

#work{
    display: flex;
    justify-content: space-evenly;
}

#work h1 {
    border-right: 5px solid #000000;
    padding: 20px;
}

#contact-me {
    display: flex;
    justify-content: center;
}

#contact-me {
    border-right: 5px solid #000000;
    padding: 20px;
}

.grid {
    max-width: 60%;
    max-height: 40%;
}

.contact-me {
    max-height: 40%;
    max-width: 60%;
}